div {
  margin-left: 10px;
}
.hoverable {
  transition: background-color .0s ease-out 0s;
  -webkit-transition: background-color .0s ease-out 0s;
}
.hovered {
  transition-delay: .0s;
  -webkit-transition-delay: .0s;
  background: #AED6F1;
}
.type-boolean {
  color: red;
}
.type-string {
  color: green;
}
.type-number {
  color: blue;
}
.type-null {
  color: gray;
}

